        @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#006769;
    --color-secundario:#f6f6f6;
    --color-terciario:#22d4fd;
    --fuente-Montserrat:"Montserrat", sans serif;
    --fuente-KRONA:"Krona One", sans serif;

}

*{
    padding : 0;
    margin: 0;

}

.header{
    padding-top: 2%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 15%;
    background-color: #E6FF94;
}

.header__menu{

    display: flex;
    gap: 80px;
}
.header__menu_link{

font-family: var(--fuente-Montserrat);
font-size: 1.5rem;
font-weight: 600;
color: var(--color-terciario);
text-decoration: none;
color: #006769;
display: center;
padding: 2%; 

}    

body{

    background-color: var(--color-primario);
    color:var(--color-secundario);
    box-sizing: border-box;
    
    
}
.titulo-destacado{
    color:aquamarine;
}
.nombre-persona{
    color:lightgreen;
    font-family: var(--fuente-Montserrat);
}
.titulo-blog{
    color:deeppink;

}
.presentacion{
        padding: 5% 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
}
.presentacion__contenido{

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{

    font-size: 2.25rem;
    font-family: var(--fuente-Montserrat);
    
}
.presentacion__contenido_texto{

    font-size: 1.5rem;
    font-family: var(--fuente-KRONA);
    
}
.presentacion_softskills{

font-size: 1.5rem;
font-family: var(--fuente-Montserrat);
color: #E6FF94;
}

.presentacion__lista_softskills{

    font-size: 1rem;
    font-family: var(--fuente-KRONA);
    
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.presentacion_tecnologias{
    font-size: 1.5rem;
    font-family: var(--fuente-Montserrat);
    color: #29d185;
    
}
.presentacion__lista_tecnologias{

    font-size: 1rem;
    font-family: var(--fuente-KRONA);
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.presentacion__enlaces{

    display: flex;/* es para que queden dentro de una caja, para que luego respete los limites de las demas clases.*/
    /*flex activa flexbox, que es quien ordena todos los elementos dentro de un contenedor */
    justify-content: space-between;
    flex-direction: column; /* para que los botones de redes esten uno sobre otro, forma de columna*/
    align-items: center; /* para alinear los botones de redes al centro del texto*/
    gap: 32px; /* crea espacio entre los elementos */

}

.presentacion__enlaces_links{

    width: 50%;
    
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-Montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid #E6FF94;
    display: flex; /* alinea los objetos de una clase*/
    justify-content: center; /** centra los objetos*/
    gap: 16px;

    
}
.imagen-perfil{
    
    width: 50%;
}
.presentacion__enlaces_links:hover{

    background-color: #40A578;
    color: #E6FF94;
}

.presentacion__enlaces_subtituloRedes{
    font-family: var(--fuente-KRONA);
    font-size: 1.5rem;
    font-weight: 400;
}

.footer{
    color:var(--color-primario);
    font-family: var(--fuente-Montserrat);
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--color-secundario);
    padding: 1.5rem;
    text-align: center;
    
}

.formacion_informacion__parrafo{

    color: black;
    font-size: 2rem;
    display: flex;
    
}

.formacion_redes__footer{

    color:var(--color-primario);
    background-color: var(--color-secundario);
    padding: 1.5rem;
    display: flex;
    width: 10%;
    border:black;
    padding: auto;
    gap:1rem;

}
.formacion_redes_footer:hover{

    background-color: #40A578;
    color:  black;
}

@media (max-width:1200px){

    .header{
        padding: 10%;
    }
    .header__menu{
        margin: auto;
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;/* cuando la pagina se achique a menos de 1200px, elementos van en columna*/
        padding: 5%;;
    }
    .presentacion__contenido{
        width: auto; /*usar auto, se adapta automaticamente al tamaño del elemento padre*/
    }


}